# Dependencies
node_modules
.pnpm-store

# Environment
.env
.env.*
!.env.example

# Build outputs
dist
build
.turbo

# Logs
npm-debug.log*
pnpm-debug.log*

# Certs
*.pem
*.key

# local
/infra/local/logs/
/infra/local/data/

docs/